MT5_PATH=
MT5_SYMBOLS=EURUSD,GBPUSD,USDJPY,AUDUSD,USDCHF,USDCAD,NZDUSD,EURJPY,GBPJPY,XAUUSD
TIMEFRAME=M5
CHECK_INTERVAL_SECONDS=2
MAGIC_NUMBER=826001
RISK_PER_TRADE=0.01
MAX_SPREAD_POINTS=40
ATR_PERIOD=14
EMA_FAST=9
EMA_SLOW=21
RSI_PERIOD=14
ATR_SL_MULTIPLIER=1.8
PROFIT_START_R=0.6
PROFIT_LOCK_R=0.10
TRAIL_ATR_MULTIPLIER=1.2
MIN_SIGNAL_SCORE=0.55
DEMO_ONLY=true
